<h1>hello</h1>
<form>
<label for="alice">First name </label>
<input id="bob" name = "name" type="text"> 
<label for="bob">Last name </label>
<input id="alice" name = "last name" type="text"> 
<button>Submit</button>
</form>
