<form action="/square/results">
<div><label for="user_input">Enter a number </label></div>
<div><input id="user_input" name = "a_num" type="text" placeholder="What number do you want to square?"></div> 

<div><button>Calculate square</button></div>
</form>
